aws:
  access_key_id: ""
  secret_access_key: ""

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-giantswarm
    kubernetes.io/tls-acme: "true"

slack:
  token: ""

route:
  enabled: false
  name: "fulfillment"
  kind: HTTPRoute

  annotations: {}
  labels: {}

  hostnames: []

  parentRefs: []
  # - name: giantswarm-default
  #   namespace: envoy-gateway-system
  #   sectionName: https

  matches:
    - path:
        type: PathPrefix
        value: /

  ## Filters define the filters that are applied to requests that match this rule.
  filters: []

  ## Additional custom rules that can be added to the route
  additionalRules: []

  securityPolicy:
    enabled: false
    labels: {}
    annotations: {}
    # basicAuth:
    #   users:
    #     name: <secret_name>
