{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fulfillment
  namespace: fulfillment
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: nginx
  rules:
  - host: fulfillment.giantswarm.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: fulfillment
            port:
              number: 8000
  tls:
  - hosts:
    - fulfillment.giantswarm.io
    secretName: fulfillment-tls
{{- end }}
